<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login page</title>
</head>
<body>
<div class="container">
    <h2>Welcome to Restart Your Love App, please login</h2>
    <div th:if="${param.error}" class="alert alert-danger">
        Invalid username and password.
    </div>
    <div th:if="${param.logout}" class="alert alert-success">
        You have been logged out.
    </div>
    <form name="f" method="POST" th:action="@{/login}">
        <p>
            <label for="username">Username</label>
            <input type="text" id="username" name="username">
        </p>
        <p>
            <label for="password">Password</label>
            <input type="password" id="password" name="password">
        </p>
        <button class="btn" type="submit">Login</button>
    </form>
</div>
</body>
</html>