#bootstrap-overrides{
    background: linear-gradient(#ffffff 0%, #f288c6 55%) fixed;
    font-family: 'Montserrat', sans-serif;
    font-size:1.2rem;
}
.container-fluid{
    padding-left:100px;
    padding-right:100px;
}
#logo2{
    width:270px;
    height:100px;
    cursor: pointer;
}
.alert-danger{
    border: solid 2px #ff000078;
    background-color: #eb65656e;
    font-style:italic;
}
.alert-info{
    border: solid 2px #4096a8a8;
    background-color: #cff4fc;
    font-style:italic;
}